
body {

    height: 990px;

    margin-left: 600px;

    font-family: Arial, Helvetica, sans-serif;

    background-color: #000000;

}

form {

    background-color: #ffffff;

    padding: 30px;

    border-radius: 10px;

    width: 35%;

    font-size: 14px;

}

form input,

form select,

form textarea,

form button {

    width: 90%;

    padding: 9px;

    margin: 8px 0;

    border: 4px solid #7a6b6b;

    border-radius: 5px;

    font-size: 14px;

}

.enviar {

    background-color: #180de8;

    color: white;

    border: none;

    cursor: pointer;

    width: 100%;

}

body {

    height: 990px;

    margin-left: 600px;

    font-family: Arial, Helvetica, sans-serif;

    background-color: #000000;

}

form {

    background-color: #ffffff;

    padding: 30px;

    border-radius: 10px;

    width: 35%;

    font-size: 14px;

}

form input,

form select,

form textarea,

form button {

    width: 90%;

    padding: 9px;

    margin: 8px 0;

    border: 4px solid #7a6b6b;

    border-radius: 5px;

    font-size: 14px;

}

.enviar {

    background-color: #180de8;

    color: white;

    border: none;

    cursor: pointer;

    width: 100%;

}

