*{
    padding: 0px ;
    margin: 0px;
}

.header{
    background-color: brown;

}
.navbar{
    background-color: rgb(255, 255, 255);
}

.Logo{
    width: 10%;
    height: 100px;
}
.nav_link{
    color: black;
    text-decoration: none;
    padding: 20px;
}

.producs{
    background-color: black;
    width: 100%;
    height: 100px;
}
.titleproducs{
    text-align: center;
    color: aliceblue;

    
}