*{
    padding: 0px ;
    margin: 0px;
}

.header{
    background-color: brown;

}
.navbar{
    background-color: rgb(255, 255, 255);
}

.Logo{
    width: 10%;
    height: 100px;
}
.nav_link{
    color: black;
    text-decoration: none;
    padding: 20px;
}

.container-fluid{
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
    
    
}
.imagen1cart{
    width: 70%;
}
.imagen2cart{
    width: 70%;
}
.imagen3cart{
    width: 70%;
}

.col-sm-4{
    text-align: center;
}
.folder{
    background-image: url('quienes\ somos.png'); 
    background-size: cover; 
    background-position: center; 
    height: 300px;
}
.textquienessomos{
    text-align: left;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding:20px ;
    font-weight: bold;
    
}

.folderdos{  
    background: black;
    width: 100%;
    height:300px;
}

    


